*, *::before, *::after{
    box-sizing: border-box;
}
body{
    background-color: rgb(9, 55, 85);
    color: white;
    margin-top: 5em;
}


/* Nav buttons */
.carousel{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    display: none;
}
.slide[data-active]{
    opacity: 1;
    z-index: 1;
    display: block;
}

.navPresentation .carousel-button{
    position: fixed;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    bottom: 83%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.913);
    cursor: pointer;
    border-radius: .25rem;
    padding-bottom: .7rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: rgba(0, 0, 0, 1);
}
.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.913);
}
.carousel-button:disabled{
    display: none;
}
.carousel-button:focus{
    outline: 1px solid black;
}

.carousel-button.prev{
    left: 1rem;
}
.carousel-button.next{
    right: 1rem;
}



/* General things for all slides */
.slideTitle{
    font-weight: bold;
    font-size: 3rem;
    margin-top: .3em;
    margin-left: .3em;
}

/* Slide One CSS */
.OneSlide{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.OneSlideTitle{
    margin-top: 1em;
}
.OneSlide h1{
    font-size: 3em;
    font-weight: bold;
}
.OneSlide h4{
    font-size: 2em;
    font-weight: bold;
}

/* Slide Two CSS */

/* Slide Three CSS */

/* Slide Four CSS */

/* Slide Five CSS */

/* Slide Six CSS */

/* Slide Seven CSS */
.LastSlide{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.LastSlideTitle{
    margin-top: 1em;
}
.LastSlide h1{
    font-size: 3em;
    font-weight: bold;
}

